<div class="container">
	<div class="slider">
		<section class="slider__slider">
			<div class="slider__2-3">
				<img src="img/2=3.png" alt="">
			</div>
		</section>

		<section class="slider__advertising">
			<div class="slider__delivery">
				{% include "assets/svg/delivery.svg" %}
			</div>
			<div class="slider__banner-sale">
				{% include "assets/svg/banners-sale.svg" %}
			</div>
		</section>

		<section class="slider__books-day">
			<div class="slider__header-books-day">
				<h3>Книга дня</h3>
				<div class="slider__time">
					<p>08:56:31</p>
				</div>
			</div>
			<div class="slider__img-books-day">
				<img src="img/books-day.png" alt="">
			</div>
			<div class="slider__info-books-day">
				<p>Корпоративное право</p>
				<p>Инвестирование: способы, риски, субъекты : монография</p>
				<p>Майфат А.В.</p>
				<p>4 450 ₽ </p>
			</div>
			<div class="slider__price-books-day">
				<div class="slider__in-garbage">
					{% include "assets/svg/basket-orange.svg" %}
					<p>В корзину</p>
				</div>
				<div class="slider__bookmark">
					{% include "assets/svg/shortcut-icon.svg" %}
				</div>
			</div>
		</section>

		<section class="slider__banners">
			<div class="slider__delivery">
				{% include "assets/svg/delivery.svg" %}
			</div>
			<div class="slider__banner-sale">
				{% include "assets/svg/banners-sale.svg" %}
			</div>
		</section>
	</div>
</div>