<header>
	<div class="header container">
		<section class="header__block__top">
			<div class="header__navigation">
				<ul class="header__navigation-list">
					<li>
						{% include "assets/svg/location-icon.svg"%}
						<a href="#" class="header__link">Москва</a>
					</li>
					<li>
						{% include "assets/svg/box-icon.svg"%}
						<a href="#" class="header__link">Доставка и оплата</a>
					</li>
					<li>
						{% include "assets/svg/address-icon.svg"%}
						<a href="#" class="header__link">Адрес и часы работы</a>
					</li>
				</ul>
			</div>
			<div class="header__contact">
				<ul class="header__contact-list">
					<li>
						{% include "assets/svg/mail-icon.svg" %}<a href="#" class="header__link">market@estatut.ru</a>
					</li>
					<li>
						{% include "assets/svg/devices-icon.svg" %}
						<a href="#" class="header__link">8 (968) 660-65-50</a>
						{% include "assets/svg/interface-icon.svg"%}
					</li>
				</ul>
			</div>
		</section>

		<div class="header__line"></div>

		<section class="header__block__bottom">
			<div class="header__block-content">
				<div class="header__block-search">
					<div class="header__burger none">
						{% include "assets/svg/burger.svg" %}
					</div>
					<div class="header__logo">
						{% include "assets/svg/logo.svg" %}
					</div>
					<input type="search" class="header__input" placeholder="Что будем искать?">
					<button class="header__button">
						{% include "assets/svg/magnifier-icon.svg" %}
						{% include "assets/svg/magnifier-white.svg" %}
						<span>Искать</span>
					</button>
					<div class="header__basket none">{% include "assets/svg/basket-icon.svg" %}</div>
				</div>
				<div class="header__user-content">
					<ul class="header__user-list">
						<li>
							{% include "assets/svg/shortcut-icon.svg" %}
							<a href="#" class="header__user-link">Отложено</a>
						</li>
						<li>
							{% include "assets/svg/smile-icon.svg" %}
							<a href="#" class="header__user-link">Войти</a>
						</li>
						<li>
							<div class="header__basket">{% include "assets/svg/basket-icon.svg" %}</div>
							<a href="#" class="header__user-link">Корзина</a>
						</li>
					</ul>
				</div>
			</div>
			<nav class="header__menu">
				<div class="header__burger">{% include "assets/svg/burger.svg" %}</div>
				<li><a href="#">Каталог</a></li>
				<li><a href="#">Авторы</a></li>
				<li><a href="#">Новинки</a></li>
				<li class="header__menu-sale">
					{% include "assets/svg/sale-icon.svg" %}
					<a href="#">Скидки</a>
				</li>
				<li><a href="#">Партнёрам</a></li>
				<li><a href="#">Мы</a></li>
			</nav>
		</section>
	</div>
</header>
